<div class="new-artist-page">

  <h1>Add Your Artist Profile</h1>

  <div>

    <%= render 'form', artist: @artist %>

    <%= link_to 'Back', artists_path, class: "search-toggle new-event-back", type: "button" %>
  </div>

</div>
