/* line 1, /Users/briannakutauskas/iCloud Drive (Archive)/Documents/github/LocalArtFinder/app/assets/stylesheets/contact.scss */
#contact {
  width: 100%;
  margin: 0 auto;
  background: #DDD;
}

/* line 3, /Users/briannakutauskas/iCloud Drive (Archive)/Documents/github/LocalArtFinder/app/assets/stylesheets/contact.scss */
.container {
  width: 960px;
  height: auto;
  margin: 0 auto;
  padding: 50px 0;
}

/* line 5, /Users/briannakutauskas/iCloud Drive (Archive)/Documents/github/LocalArtFinder/app/assets/stylesheets/contact.scss */
#contact .container form input,
#contact .container form textarea {
  width: 97.4%;
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  color: #999;
  letter-spacing: 1px;
  background: #FFF;
  border: 2px solid #FFF;
  margin-bottom: 25px;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

/* line 22, /Users/briannakutauskas/iCloud Drive (Archive)/Documents/github/LocalArtFinder/app/assets/stylesheets/contact.scss */
#contact .container form input:focus,
#contact .container form textarea:focus {
  border: 2px solid #a5637c;
  color: #999;
}

/* line 27, /Users/briannakutauskas/iCloud Drive (Archive)/Documents/github/LocalArtFinder/app/assets/stylesheets/contact.scss */
#contact .container form textarea {
  height: 150px;
}

/* line 30, /Users/briannakutauskas/iCloud Drive (Archive)/Documents/github/LocalArtFinder/app/assets/stylesheets/contact.scss */
#contact .container form .submit {
  width: 100%;
  padding: 5px 10px;
  font-size: 12px;
  letter-spacing: 1px;
  background: #a5637c;
  height: 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #FFF;
  border: 2px solid #a5637c;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

/* line 47, /Users/briannakutauskas/iCloud Drive (Archive)/Documents/github/LocalArtFinder/app/assets/stylesheets/contact.scss */
#contact .container form .submit:hover {
  color: #FFF;
  border: 2px solid #a5637c;
  background: #a5637c;
  cursor: pointer;
}

/* line 53, /Users/briannakutauskas/iCloud Drive (Archive)/Documents/github/LocalArtFinder/app/assets/stylesheets/contact.scss */
#contact .container form .required {
  color: #a5637c;
}
