<div class="tandc" style=" padding-left:10vw; padding-right: 10vw; padding-bottom: 10vh;">
  <div class="" style="background: white; padding-top:4vh; padding-left:2vw; padding-right: 2vw; padding-bottom: 4vh;">
    <h1 style="text-align:center;">Terms & Conditions</h1>
    <br>
    <h2>INTRODUCTION</h2>
    <br>
    <p>
      This page (together with the documents expressly referred to on it) tells you information about us and the legal terms and conditions (Terms) on which products (Products) listed on our website (our site) are sold to you. These Terms will apply to any contract for the sale of Products to you (Contract). When you purchase Products on our site you will either purchase these from us or from third party suppliers (Supplier). It is clearly identified under the Product information whether you purchase a Product from us or from a Supplier.
    </p>
      <p>If you purchase Products from us Part A below will apply.
      </p>
      <p>
      If you purchase Products from a Supplier Part A (except clauses 7, 9-14) and Part B will apply.
      </p>
      <p>
      Please read these Terms carefully and make sure that you understand them, before ordering any Products from our site. Please note that by ordering any of our Products, you agree to be bound by these Terms and the other documents expressly referred to in it. Please click on the button marked "I Accept" at the end of these Terms if you accept them. If you refuse to accept these Terms, you will not be able to order any Products from our site. You should print a copy of these Terms or save them to your computer for future reference. We amend these Terms from time to time as set out in clause 8 in Part A below. Every time you wish to order Products, please check these Terms to ensure you understand the terms which will apply at that time. These Terms were most recently updated on 30th April 2015. These Terms, and any Contract between us, are only in the English language.
    </p>
    <br>
    <h1>Part A</h1>
    <br>
    <h2>1. INFORMATION ABOUT US</h2>
    <p><em>1.1</em> We operate the website www.localartfinder.com. We are Learn Acadamy, a company registered in San Diego under company number 0000000 and with our registered office at 1234 Dream Street. To contact us, please visit our ‘Contact us’ page or email us: help@localartfinder.com
    </p>
    <p>
<em>1.2</em> You can become a member of artfinder.com. artfinder.com conducts sales campaigns on items for members of the company the number and time period of which will be limited. A user must be a member to purchase products. A user must register to become a member. You will receive personal information about impending sales campaigns via artfinder.com's email service, provided that you have agreed to receive these emails. Members control their email preferences on their personal profile page on artfinder.com</p>
</p>
<br>
<h2>2. THE PRODUCTS</h2>
<p>
<em>2.1</em> The images of the Products on our site are for illustrative purposes only. Although we have made every effort to display the colours accurately, we cannot guarantee that your computer's display of the colours accurately reflect the colour of the Products. Your Products may vary slightly from those images and the depiction of Products with accessories, e.g. frames may be used for illustrative purposes only. You are advised to check that the Product you would like to purchase includes such accessories or not before placing the order.
</p>
<p><em>2.2</em> The packaging of the Products may vary from that shown on images on our site.

</p>
<p><em>2.3</em> All Products shown on our site are subject to availability. We will inform you by e-mail as soon as possible if the Product you have ordered is not available and we will not process your order if made.
</p>


</div>
</div>
