<div class="new-event-page">
  <h1>New Event</h1>
  <div>
    <%= render 'form', event: @event %>
    <%= link_to 'Back', events_path, class: "search-toggle new-event-back", type: "button" %>
  </div>
</div>
