  <body id="page-top">
    <header class="masthead">
      <div class="header-content">
        <div class="header-content-inner">
          <h1 id="homeHeading">Find the Best Local Art in Your Area</h1>
          <hr>
          <p>Start finding local artwork. Artists can now build a better client base and clients can now support their local market.</p>
          <a class="btn btn-primary btn-xl" href="arts">See Local Art now</a>
        </div>
      </div>
    </header>
    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">Get your art work recognized nationally</h2>
            <hr class="light">
            <p class="text-faded">Local Art Finder has everything you'd need to bump your business from a hobby to full-time professional. We provide the market for your art and even the potential to link you to different galleries!</p>
            <a class="btn btn-default btn-xl sr-button" href="users/sign_up">Sign Up Now!</a>
          </div>
        </div>
      </div>
    </section>
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Why Choose Us?</h2>
            <hr class="primary">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
              <h3>Sturdy Templates</h3>
              <p class="text-muted">Our templates are updated regularly so they don't break.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
              <h3>Ready to Sell</h3>
              <p class="text-muted">You can use this platform to directly sell B2</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
              <h3>Up to Date</h3>
              <p class="text-muted">We update dependencies to keep things fresh.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
              <h3>Made with Love</h3>
              <p class="text-muted">Built from artists for artists</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="call-to-action bg-dark">
      <div class="container text-center">
        <h2>Learn more about us and the team!</h2>
        <a class="btn btn-default btn-xl sr-button" href="/about/index">About Us</a>
      </div>
    </div>
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Let's Get In Touch!</h2>
            <hr class="primary">
            <p>Ready to start but have questions? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fa fa-phone fa-3x sr-contact"></i>
            <p>123-456-6789</p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
           <i class="fa fa-envelope-o fa-3x sr-contact"></i>
           <p>
             <a href="mailto:your-email@your-domain.com">feedback@localartfinder.com</a>
           </p>
         </div>
       </div>
     </div>
   </section>

 </body>
