<style media="screen">
    hr {
    max-width: 50px;
    border-width: 3px;
    border-color: #F05F40; }
    hr.light {
    border-color: white; }
    a {
    color: #F05F40;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s; }
    a:focus, a:hover {
      color: #f05f40; }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }
    p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px; }
    .bg-primary {
    background-color: #F05F40 !important; }
    .bg-dark {
    color: white;
    background-color: #222222 !important; }
    .text-faded {
    color: rgba(255, 255, 255, 0.7); }
    section {
    padding: 100px 0; }
    .section-heading {
    margin-top: 0; }
    ::-moz-selection {
    color: white;
    background: #222222;
    text-shadow: none; }
    ::selection {
    color: white;
    background: #222222;
    text-shadow: none; }
    img::selection {
    color: white;
    background: transparent; }
    img::-moz-selection {
    color: white;
    background: transparent; }
    body {
    -webkit-tap-highlight-color: #222222; }
    #mainNav {
    border-color: rgba(34, 34, 34, 0.05);
    background-color: white;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s; }
    #mainNav .navbar-brand {
      font-weight: 700;
      text-transform: uppercase;
      color: #F05F40;
      font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }
      #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
        color: #f05f40; }
    #mainNav .navbar-toggle {
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      color: #222222; }
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus,
    #mainNav .navbar-nav > li.nav-item > a.nav-link {
      font-size: 13px;
      font-weight: 700;
      text-transform: uppercase;
      color: #222222; }
      #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover,
      #mainNav .navbar-nav > li.nav-item > a.nav-link:hover {
        color: #F05F40; }
      #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active,
      #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
        color: #F05F40 !important;
        background-color: transparent; }
        #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover,
        #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
          background-color: transparent; }
    @media (min-width: 992px) {
      #mainNav {
        border-color: rgba(255, 255, 255, 0.3);
        background-color: transparent; }
        #mainNav .navbar-brand {
          color: rgba(255, 255, 255, 0.7); }
          #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
            color: white; }
        #mainNav .navbar-nav > li.nav-item > a.nav-link,
        #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
          color: rgba(255, 255, 255, 0.7); }
          #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
          #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
            color: white; }
        #mainNav.navbar-shrink {
          border-color: rgba(34, 34, 34, 0.05);
          background-color: white; }
          #mainNav.navbar-shrink .navbar-brand {
            font-size: 16px;
            color: #F05F40; }
            #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
              color: #f05f40; }
          #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
          #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
            color: #222222; }
            #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
            #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
              color: #F05F40; } }
    header.masthead {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: white;
    /*background-image: url("");*/
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/pexels-photo-268435');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
    header.masthead .header-content {
      position: relative;
      width: 100%;
      padding: 150px 15px 100px;
      text-align: center; }
      header.masthead .header-content .header-content-inner h1 {
        font-size: 30px;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 0;
        text-transform: uppercase; }
      header.masthead .header-content .header-content-inner hr {
        margin: 30px auto; }
      header.masthead .header-content .header-content-inner p {
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 50px;
        color: rgba(255, 255, 255, 0.7); }
    @media (min-width: 768px) {
      header.masthead {
        height: 100%;
        min-height: 600px; }
        header.masthead .header-content {
          position: absolute;
          top: 50%;
          padding: 0 50px;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%); }
          header.masthead .header-content .header-content-inner {
            max-width: 1000px;
            margin-right: auto;
            margin-left: auto; }
            header.masthead .header-content .header-content-inner h1 {
              font-size: 50px; }
            header.masthead .header-content .header-content-inner p {
              font-size: 18px;
              max-width: 80%;
              margin-right: auto;
              margin-left: auto; } }
    .service-box {
    max-width: 400px;
    margin: 50px auto 0; }
    @media (min-width: 992px) {
      .service-box {
        margin: 20px auto 0; } }
    .service-box p {
      margin-bottom: 0; }
    .portfolio-box {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 0 auto; }
    .portfolio-box .portfolio-box-caption {
      position: absolute;
      bottom: 0;
      display: block;
      width: 100%;
      height: 100%;
      text-align: center;
      opacity: 0;
      color: white;
      background: rgba(240, 95, 64, 0.9);
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      transition: all 0.2s; }
      .portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
        text-align: center; }
        .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
        .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
          padding: 0 15px;
          font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }
        .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
          font-size: 14px;
          font-weight: 600;
          text-transform: uppercase; }
        .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
          font-size: 18px; }
    .portfolio-box:hover .portfolio-box-caption {
      opacity: 1; }
    .portfolio-box:focus {
      outline: none; }
    @media (min-width: 768px) {
      .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px; }
      .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px; } }
    .call-to-action {
    padding: 50px 0; }
    .call-to-action h2 {
      margin: 0 auto 20px; }
    .text-primary {
    color: #F05F40 !important; }
    .no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0; }
    .btn-default {
    color: #222222;
    border-color: white;
    background-color: white; }
    .btn-default.focus, .btn-default:focus {
      color: #222222;
      border-color: #bfbfbf;
      background-color: #e6e6e6; }
    .btn-default:hover {
      color: #222222;
      border-color: #e0e0e0;
      background-color: #e6e6e6; }
    .btn-default.active, .btn-default:active,
    .open > .btn-default.dropdown-toggle {
      color: #222222;
      border-color: #e0e0e0;
      background-color: #e6e6e6; }
      .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover,
      .open > .btn-default.dropdown-toggle.focus,
      .open > .btn-default.dropdown-toggle:focus,
      .open > .btn-default.dropdown-toggle:hover {
        color: #222222;
        border-color: #bfbfbf;
        background-color: #d4d4d4; }
    .btn-default.active, .btn-default:active,
    .open > .btn-default.dropdown-toggle {
      background-image: none; }
    .btn-default.disabled.focus, .btn-default.disabled:focus, .btn-default.disabled:hover, .btn-default[disabled].focus, .btn-default[disabled]:focus, .btn-default[disabled]:hover,
    fieldset[disabled] .btn-default.focus,
    fieldset[disabled] .btn-default:focus,
    fieldset[disabled] .btn-default:hover {
      border-color: white;
      background-color: white; }
    .btn-default .badge {
      color: white;
      background-color: #222222; }
    .btn-primary {
    color: white;
    border-color: #F05F40;
    background-color: #F05F40; }
    .btn-primary.focus, .btn-primary:focus {
      color: white;
      border-color: #a4270d;
      background-color: #eb3812; }
    .btn-primary:hover {
      color: white;
      border-color: #e13612;
      background-color: #eb3812; }
    .btn-primary.active, .btn-primary:active,
    .open > .btn-primary.dropdown-toggle {
      color: white;
      border-color: #e13612;
      background-color: #eb3812; }
      .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover,
      .open > .btn-primary.dropdown-toggle.focus,
      .open > .btn-primary.dropdown-toggle:focus,
      .open > .btn-primary.dropdown-toggle:hover {
        color: white;
        border-color: #a4270d;
        background-color: #c93110; }
    .btn-primary.active, .btn-primary:active,
    .open > .btn-primary.dropdown-toggle {
      background-image: none; }
    .btn-primary.disabled.focus, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled].focus, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover,
    fieldset[disabled] .btn-primary.focus,
    fieldset[disabled] .btn-primary:focus,
    fieldset[disabled] .btn-primary:hover {
      border-color: #F05F40;
      background-color: #F05F40; }
    .btn-primary .badge {
      color: #F05F40;
      background-color: white; }
    .btn {
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 300px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }
    .btn-xl {
    padding: 15px 30px; }
</style>
<script type="text/javascript">
  (function($) {
    "use strict"; // Start of use strict
    // Smooth scrolling using jQuery easing
    $('a[href*="#"]:not([href="#"])').click(function() {
        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            if (target.length) {
                $('html, body').animate({
                    scrollTop: (target.offset().top - 48)
                }, 1000, "easeInOutExpo");
                return false;
            }
        }
    });
    // Activate scrollspy to add active class to navbar items on scroll
    $('body').scrollspy({
        target: '#mainNav',
        offset: 48
    });
    // Closes responsive menu when a link is clicked
    $('.navbar-collapse>ul>li>a').click(function() {
        $('.navbar-collapse').collapse('hide');
    });
    // Collapse the navbar when page is scrolled
    $(window).scroll(function() {
        if ($("#mainNav").offset().top > 100) {
            $("#mainNav").addClass("navbar-shrink");
        } else {
            $("#mainNav").removeClass("navbar-shrink");
        }
    });
    // Scroll reveal calls
    window.sr = ScrollReveal();
    sr.reveal('.sr-icons', {
        duration: 600,
        scale: 0.3,
        distance: '0px'
    }, 200);
    sr.reveal('.sr-button', {
        duration: 1000,
        delay: 200
    });
    sr.reveal('.sr-contact', {
        duration: 600,
        scale: 0.3,
        distance: '0px'
    }, 300);
    // Magnific popup calls
    $('.popup-gallery').magnificPopup({
        delegate: 'a',
        type: 'image',
        tLoading: 'Loading image #%curr%...',
        mainClass: 'mfp-img-mobile',
        gallery: {
            enabled: true,
            navigateByImgClick: true,
            preload: [0, 1]
        },
        image: {
            tError: '<a href="%url%">The image #%curr%</a> could not be loaded.'
        }
    });
  })(jQuery); // End of use strict
</script>
  <body id="page-top">
    <header class="masthead">
      <div class="header-content">
        <div class="header-content-inner">
          <h1 id="homeHeading">Find the Best Local Art in Your Area</h1>
          <hr>
          <p>Start finding local artwork. Artists can now build a better client base and clients can now support their local market.</p>
          <a class="btn btn-primary btn-xl" href="arts">See Local Art now</a>
        </div>
      </div>
    </header>
    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">Get your art work recognized nationally</h2>
            <hr class="light">
            <p class="text-faded">Local Art Finder has everything you'd need to bump your business from a hobby to full-time professional. We provide the market for your art and even the potential to link you to different galleries!</p>
            <a class="btn btn-default btn-xl sr-button" href="users/sign_up">Sign Up Now!</a>
          </div>
        </div>
      </div>
    </section>
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Why Choose Us?</h2>
            <hr class="primary">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
              <h3>Sturdy Templates</h3>
              <p class="text-muted">Our templates are updated regularly so they don't break.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
              <h3>Ready to Sell</h3>
              <p class="text-muted">You can use this platform to directly sell B2</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
              <h3>Up to Date</h3>
              <p class="text-muted">We update dependencies to keep things fresh.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
              <h3>Made with Love</h3>
              <p class="text-muted">Built from artists for artists</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="call-to-action bg-dark">
      <div class="container text-center">
        <h2>Learn more about us and the team!</h2>
        <a class="btn btn-default btn-xl sr-button" href="">About Us</a>
      </div>
    </div>
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Let's Get In Touch!</h2>
            <hr class="primary">
            <p>Ready to start but have questions? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fa fa-phone fa-3x sr-contact"></i>
            <p>123-456-6789</p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
           <i class="fa fa-envelope-o fa-3x sr-contact"></i>
           <p>
             <a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a>
           </p>
         </div>
       </div>
     </div>
   </section>

   <!-- Bootstrap core JavaScript -->
   <script src="vendor/jquery/jquery.min.js"></script>
   <script src="vendor/popper/popper.min.js"></script>
   <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

   <!-- Plugin JavaScript -->
   <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
   <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
   <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

   <!-- Custom scripts for this template -->
   <script src="js/creative.min.js"></script>

 </body>


<!-- <div class="row">
 <div class="col-md-12 text-center">
   <h1 class="land-header">Get your art work recognized nationally</h1>
 </div>
 <div class="col-md-12 text-center">
   <button type="button" class="btn btn-primary btn-lg">Sign Up</button>
 </div>
</div>


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
 <ol class="carousel-indicators">
   <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
   <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
   <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
 </ol>
 <div class="carousel-inner" role="listbox">
   <div class="carousel-item active">
     <img class="d-block img-fluid" src="assets/child.jpg" alt="First slide">
   </div>
   <div class="carousel-item">
     <%= image_tag('flower.jpg', :class => "d-block img-fluid") %>
   </div>
   <div class="carousel-item">
     <img class="d-block img-fluid" src="assets/rat.jpg" alt="Third slide">
   </div>
 </div>
 <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
   <span class="carousel-control-prev-icon" aria-hidden="true"></span>
   <span class="sr-only">Previous</span>
 </a>
 <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
   <span class="carousel-control-next-icon" aria-hidden="true"></span>
   <span class="sr-only">Next</span>
 </a>
</div>

<div class="row">
 <div class="col-md-12 text-center">
   <h2>Featured Artist</h2>
 </div>
 <div class="col-md-12">
   <table class="table text-center">
     <tr>
       <th>First Name</th>
       <th>Last Name</th>
       <th>Image</th>
     </tr>
   </table>
 </div>
</div> -->




<!-- <div class="row">
  <div class="col-md-12 text-center">
    <h1 class="land-header">Get your art work recognized nationally</h1>
  </div>
  <div class="col-md-12 text-center">
    <button type="button" class="btn btn-primary btn-lg">Sign Up</button>
  </div>
</div>


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img class="d-block img-fluid" src="assets/child.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <%= image_tag('flower.jpg', :class => "d-block img-fluid") %>
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid" src="assets/rat.jpg" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <h2>Featured Artist</h2>
  </div>
  <div class="col-md-12">
    <table class="table text-center">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Image</th>
      </tr>
    </table>
  </div>
</div> -->
