
<div class="container galleries-page">


  <div class="page-header">
    <h2>GALLERIES</h2>
    <%= link_to 'New Gallery', new_gallery_path, :class => "search-toggle"%>
  </div>

  <div class="row">
    <ul>
      <li class="map-detail">
        <div id="map"></div>
      </li>
      <% @galleries.each do |gallery| %>
      <%= link_to gallery do%>
      <li class="gallery-detail">
        <div class="card-block">
          <h4 class="card-title"><%= gallery.name %></h4>
          <% end %>
          <p class="card-text"><%= gallery.description %></p>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
  <br>

  <script src="https://maps.google.com/maps/api/js?key=AIzaSyDoQxkuNTRyYO6fgdTmZJGz7RWOs1dn-uA&callback=retrieveGalleryJson" type="text/javascript"></script>

</div>
