<div class="new-gallery-page">

  <h1>New Gallery</h1>

  <div>
    <%= render 'form', gallery: @gallery %>
    <%= link_to 'Back', galleries_path, class: "search-toggle new-gallery-back", type: "button" %>
  </div>

</div>
