@import "bootstrap";
// This is our header font font-family: 'Roboto Condensed', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
// This is our text fonts font-family: 'Raleway', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Raleway');


/* Colors */
$clean: #A7D2CB;
$butter: #F2D388;
$salmon: #C98474;
$eggplant: #874C62;
$beige: #efefdc;
$dk-blue: #1E83AE;
$blue: #3D5B94;
$light-blue: #3DACDD;
$green: #6dcd9a;
$social-size: 1.2em;
$social-width: 20%;

//Global settings
html, body {
  height: 100%;
  font-family: Raleway, sans-serif;
  background-color: $clean;
  position: relative;
  margin:0;
}
body  {
  // padding-bottom: 10vh;
}
#container {
   min-height:100%;
   position:relative;
}
.white  {
  color: white;
}
.text-center  {
  text-align: center;
}
.image-center {
  display: block;
  margin: auto;
}
.align-offset {
  padding-left: 5vw
}
.align-weird  {
  padding-left: 3.5vw;
}
.eggplant {
  color: $eggplant
}
.row > .col-xs-12 > .carousel-inner > .carousel-item > img {
    margin: 0 auto;
}
.clearfix {clear: both;}
.center {text-align: center;}
.left {text-align: left;}
.right {text-align: right;}

.clr1 {background: $eggplant; color: #333743;}
.clr2 {background: $eggplant;  color: #8F94A3;}
.clr3 {background: $eggplant;  color: #BDC3CF;}
.clr4 {background: grey; opacity: .5; color: #E3E7F2;}

a {color: #fff; text-decoration: none;}
a:hover {color: $eggplant; text-decoration: underline;}
a:visited{}

// Change this for the footer
// -a {color: #BDC3CF; text-decoration: none;}
// -a:hover {color: #ffffff; text-decoration: underline;}

//navigation bar struction//
.navbar {
  background-color: $clean;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bolder;
  font-size: 1.5em;
}
.nav-logo {
  margin-top: -15px;
  margin-bottom: -15px;
  height: 86px;
  width: 86px;
}
.btn-outline-success {
    color: #fff;
    background-image: none;
    background-color: transparent;
    // border-color: $salmon;
    border: none;
}
.btn-outline-success:hover {
    color: #fff;
    background-color: $salmon;
    border-color: $salmon;
}
.carousel-inner > .carousel-item > img {
    margin: 0 auto;
}
* {margin: 0;padding: 0;}

/*##### Footer Structure #####*/
.footer_wrapper {
 position: relative;
 width: 100%;
 bottom: 0;
 height: 10vh;
}

table {
  // width: 75vw;
  margin: auto;
  text-align: center;

}

th {
  text-align: center;
}

td {
  padding: 0.5vw;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

// CHANGE THIS TO A DIFFERENT CLASS

.item2 {
  flex-basis: auto;
  max-width: 40vw;
}

.form-horizontal {
  width: 10vw;
  margin: 0 auto;
}

.form-control {
  width: 10vw;
  height: 1.5em;
  }

.datesize {
  width: 13.5vw;
  margin: auto;
}

.textField {
  height: 4.5em;
}



.bo-wrap {clear:both; width: auto;}
.bo-footer {
  clear:both;
  width: auto;
  padding: 5px;
  width: 960px;
	margin: 0 auto;
}

.bo-footer-social {text-align: center; line-height: 1px;}

.bo-footer-smap {
	width: 300px;
	float: left;
	padding: 5px 10px;
  text-align: left;
  font-size: 18px;
}

.bo-footer-uonline {
	width: 300px; /* Account for margins + border values */
	float: left;
	padding: 5px 10px;
  text-align: center;
}

.bo-footer-power {
	width: 300px;
	padding: 5px 10px;
	float: left;
  text-align: right;
  font-size: 14px;
  color: #636A7D;
  vertical-align: middle;
}

.bo-footer-copyright {text-align: center; color: #BDC3CF}

/*##### Footer Responsive #####*/
/* for 980px or less */
@media screen and (max-width: 980px) {
	.bo-footer {
		width: 95%;
		padding: 1% 2%;
	}
	.bo-footer-smap {
		width: 46%;
		padding: 1% 2%;
	}
	.bo-footer-uonline {
		width: 46%;
		padding: 1% 2%;
		float: right;
    text-align: right;
	}
	.bo-footer-power {
		clear: both;
		padding: 1% 2%;
		width: auto;
		float: none;
    text-align: center;
	}
}
/* for 700px or less */
@media screen and (max-width: 600px) {
	.bo-footer-smap {
		width: auto;
		float: none;
    text-align: center;
	}
	.bo-footer-uonline {
		width: auto;
		float: none;
    text-align: center;
	}
	.bo-footer-power {
		width: auto;
		float: none;
    text-align: center;
	}
}


//About Page structure//
#about-background {
  background-color: $beige;
  width: 100vw;
}
.p-container {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    padding-left: 5vh;
    padding-right: 5vh;
  }
.about-text {
  font-family: 'Roboto Condensed', sans-serif;
  // font-weight: bolder;
  font-weight: 900;
  padding-top: 3vh;
  padding-bottom: 3vh;
}
.about-text-top {
  font-family: 'Roboto Condensed', sans-serif;
  // font-weight: bolder;
  font-weight: 900;
  padding-top: 22vh;
}
.about-text-bottom {
  font-family: 'Roboto Condensed', sans-serif;
  // font-weight: bolder;
  font-weight: 900;
}
.header-image {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('meeting-background.jpg');
  background-repeat: no-repeat;
  height: 60vh;
  width: 100vw;
}
.leftmost {
  padding-left: 5vw;
}
.rightmost  {
  padding-right: 5vw;
}


#map {
    margin: auto;
    height: 50vh;
    width: 50vw;
  }

#gmap {
    margin: auto;
    height: 50vh;
    width: 50vw;
  }


  #showmap {
    height: 50vh;
    width: 50vw;
  }

  #calendar{
    width: 50vw;
    margin: auto;
  }

// .right-div {
//     margin-left: 108px;
// }
