$clean: #A7D2CB;
$butter: #F2D388;
$salmon: #C98474;
$eggplant: #874C62;
$beige: #efefdc;
$dk-blue: #1E83AE;
$blue: #3D5B94;
$light-blue: #3DACDD;
$green: #6dcd9a;

.arts-page {
  font-family: "Roboto", sans-serif;
  color: #5f5f5f;
  background: #FFFFFF;
  padding: 45px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	margin-bottom: 60px;
	.page-header {
    margin: 0 auto 50px;
    h2 {
      font-weight: 200;
      display: inline;
    }
  }
  .search-toggle {
		float: right;
		text-transform: uppercase;
		outline: 0;
		background: #a5637c;
		// background-color: #a5637c;
		border: 0;
		padding: 15px;
		color: #FFFFFF;
		font-size: 14px;
		-webkit-transition: all 0.3 ease;
		transition: all 0.3 ease;
		cursor: pointer;
		-webkit-appearance: none;
		text-decoration: none;
	}
  .form {
    float: right;
    height: 51px;
    input {
      outline: 1;
      background: #f2f2f2;
      border: 0;
      margin-right: 5px;
      padding: 15px;
      box-sizing: border-box;
      font-size: 14px;
      height: 50px;
    }
  }
  .form2-control {
    .form2-control-sm {
      height:50px;
    }
  }
  .submit {
    text-transform: uppercase;
    outline: 0;
    background: #a5637c;
    float: right;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin-left: 5px;
  }
  .filterrific_results {
    width: 100%;
    overflow: hidden;
    .art-card {
      min-width: 200px;
      padding: 0 30px 20px;
      .art-image {
        width: 100%;
        img {
          width: 100%;
          max-width: 200px;
          margin: 0 auto;
        }
      }
      .art-details {
        text-align: center;
        .art-description {
          font-weight: 200;
        }
      }
    }
  }
}

.new-art-page{
	width: 500px;
	margin: auto;
	text-align: center;
	background-color: #FFF;
	padding: 40px;
	color: #5f5f5f;
	margin-bottom: 50px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

	.gart-form{
		.create-art{
			margin: 25px;
		}

  	.select-style {
  	    border: 1px solid #ccc;
  	    border-radius: 3px;
  	    overflow: hidden;
  	    background: #fafafa url("img/icon-select.png") no-repeat 90% 50%;
  	}

  	.select-style select {
  	    padding: 5px 8px;
  	    border: none;
  	    box-shadow: none;
  	    background: transparent;
  	    background-image: none;
  	    -webkit-appearance: none;
  	}

  	.select-style select:focus {
  	    outline: none;
  	}

		.form-horizontal{
			padding-top: 15px;
		}
  }

  h1{
		margin-bottom: 40px;
		font-family: "Roboto", sans-serif;
		font-weight: 200;
		color: #5f5f5f;
	}

	.search-toggle {
		text-transform: uppercase;
		outline: 0;
		background: #a5637c;
		border: 0;
		padding: 15px;
		color: #FFFFFF;
		font-size: 14px;
		-webkit-transition: all 0.3 ease;
		transition: all 0.3 ease;
		cursor: pointer;
		-webkit-appearance: none;
		text-decoration: none;
	}
}

.actions {
  margin-bottom: 25px;
}


@media only screen and (max-width: 991px) {

  .arts-page .submit {
    margin-bottom: 5px;
  }
}
@media only screen and (max-width: 766px) {

  .arts-page .submit {
    float: left;
  }
  .container3 {
    margin-top: 60px;
  }
  .submit {
    margin-top: 5px;
  }
}

@media only screen and (max-width: 390px) {
  .container3 {
    margin-top: 100px;
  }
}
@media only screen and (max-width: 488px) {
  .container3 {
    margin-top: 115px;
  }

  #filterrific_sorted_by {
    float: inherit;
    margin-top: 5px;
  }
  .submit {
    margin-top: 5px;
  }
}
@media only screen and (max-width: 350px) {
  .container3 {
    margin-top: 140px;
  }
}
@media only screen and (min-width: 0px) {
  .form2-control {
    width: 205px;
  }
}
