// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// @import = 'fullcalendar'

.events-page {
	font-family: "Roboto", sans-serif;
  color: #5f5f5f;
  background: #FFFFFF;
  padding: 45px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	margin-bottom: 60px;
	.page-header {
    margin: 0 auto 50px;
    h2 {
      font-weight: 200;
      display: inline;
    }
	}
	h3 {
		font-weight: 200;
		text-align: center;
	}

	.search-toggle {
		float: right;
		text-transform: uppercase;
		outline: 0;
		background: #a5637c;
		// background-color: #a5637c;
		border: 0;
		padding: 15px;
		color: #FFFFFF;
		font-size: 14px;
		-webkit-transition: all 0.3 ease;
		transition: all 0.3 ease;
		cursor: pointer;
		-webkit-appearance: none;
		text-decoration: none;
	}

	.table-controls {
		width: 50vw;
		margin: 15px auto 20px;
		overflow: hidden;
	}

	#map {
		height: 500px;
	}
	.event-table {
		display: none;
		width: 50vw;
		margin: 30px auto;
		table {
			width: 100%;
		}
		thead {
			th {
				text-align: center;
				color: #FFF;
				background-color: #95bbb5;
				padding: 10px 15px;
			}
		}
		tbody {
			:nth-child(odd) tr td {
				background-color: #f1f1f1;
			}
		}
	}
}
.rg-image-wrapper{
	position:relative;
	padding:20px 30px;
	background:transparent url(../images/black.png) repeat top left;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	min-height:20px;
}

.rg-image{
	position:relative;
	text-align:center;
	line-height:0px;
}

.rg-image img{
	max-height:100%;
	max-width:100%;
}

.rg-image-nav a{
	position:absolute;
	top:0px;
	left:0px;
	background:#000 url(../images/nav.png) no-repeat -20% 50%;
	width:28px;
	height:100%;
	text-indent:-9000px;
	cursor:pointer;
	opacity:0.3;
	outline:none;
	-moz-border-radius: 10px 0px 0px 10px;
	-webkit-border-radius: 10px 0px 0px 10px;
	border-radius: 10px 0px 0px 10px;
}

.rg-image-nav a.rg-image-nav-next{
	right:0px;
	left:auto;
	background-position:115% 50%;
	-moz-border-radius: 0px 10px 10px 0px;
	-webkit-border-radius: 0px 10px 10px 0px;
	border-radius: 0px 10px 10px 0px;
}

.rg-image-nav a:hover{
	opacity:0.8;
}

.rg-caption {
	text-align:center;
	margin-top:15px;
	position:relative;
}
.rg-caption p{
	font-size:11px;
	letter-spacing:2px;
	font-family: 'Trebuchet MS', 'Myriad Pro', Arial, sans-serif;
	line-height:16px;
	padding:0 15px;
	text-transform:uppercase;
}

.rg-view{
	height:30px;
}
.rg-view a{
	display:block;
	float:right;
	width:16px;
	height:16px;
	margin-right:3px;
	background:#464646 url(../images/views.png) no-repeat top left;
	border:3px solid #464646;
	opacity:0.8;
}
.rg-view a:hover{
	opacity:1.0;
}
.rg-view a.rg-view-full{
	background-position:0px 0px;
}
.rg-view a.rg-view-selected{
	background-color:#6f6f6f;
	border-color:#6f6f6f;
}
.rg-view a.rg-view-thumbs{
	background-position:0px -16px;
}

.rg-loading{
	width:46px;
	height:46px;
	position:absolute;
	top:50%;
	left:50%;
	background:#000 url(../images/ajax-loader.gif) no-repeat center center;
	margin:-23px 0px 0px -23px;
	z-index:100;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	opacity:0.7;
}

.new-event-page{
	width: 500px;
	margin: auto;
	text-align: center;
	background-color: #FFF;
	padding: 40px;
	color: #5f5f5f;
	margin-bottom: 50px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

	.event-form{
		.create-event{
			margin: 25px;
		}

    .horizontal-center{
      margin: 10px;
    }


.select-style {
  	    border: 1px solid #ccc;
  	    border-radius: 3px;
  	    overflow: hidden;
  	    background: #fafafa ;
  	}

  	.select-style select {
  	    padding: 5px 8px;
  	    border: none;
  	    box-shadow: none;
  	    background: transparent;
  	    background-image: none;
  	}

  	.select-style select:focus {
  	    outline: none;
  	}

		.form-horizontal{
			padding-top: 15px;
		}
  }

  h1{
		margin-bottom: 40px;
		font-family: "Roboto", sans-serif;
		font-weight: 200;
		color: #5f5f5f;
	}

	.search-toggle {
		text-transform: uppercase;
		outline: 0;
		background: #a5637c;
		border: 0;
		padding: 15px;
		color: #FFFFFF;
		font-size: 14px;
		-webkit-transition: all 0.3 ease;
		transition: all 0.3 ease;
		cursor: pointer;
		-webkit-appearance: none;
		text-decoration: none;
	}
}

.form-horizontal {
  width: 11vw;
  margin: 0 auto;
}

.form-control {
  width: 10vw;
  height: 1.5em;
}
