<nav class="navbar navbar-toggleable-sm navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Navbar</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="http://localhost:3000/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/events">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/artists">Artist</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/arts">Art</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/about/index">About</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        </a>
      </li>
    </ul>
  </div>
</nav>
